# -----------------------
# Node
# -----------------------
node_modules/
dist/

# -----------------------
# Python
# -----------------------
.venv/
__pycache__/
*.py[cod]
*.egg-info/

# -----------------------
# Database
# -----------------------
*.db
*.sqlite
*.sqlite3
backend/eduquest.db

# -----------------------
# Environment
# -----------------------
.env
.env.local

# -----------------------
# IDE
# -----------------------
.vscode/settings.json
.idea/

# -----------------------
# OS
# -----------------------
.DS_Store
Thumbs.db